*.iml
.DS_Store
.classpath
.idea/
.mvn/*
!.mvn/wrapper/
!.mvn/wrapper/maven-wrapper.properties
!.mvn/wrapper/maven-wrapper.jar
.project
.settings/
.spectral.yaml
.tools/
.vscode
bin/
logs/
openapi-gen-test/
target/
