openapi: 3.0.3

info:
  title: GitHub Search API
  version: "1.0.0"
  description: Minimal OpenAPI specification for GitHub repository search.

servers:
  - url: https://api.github.com

paths:
  /search/repositories:
    get:
      operationId: searchRepositories
      summary: Search repositories
      tags:
        - Search

      parameters:
        - name: q
          in: query
          required: true
          description: GitHub search query.
          schema:
            type: string

        - name: sort
          in: query
          required: false
          schema:
            type: string
            enum:
              - stars
              - forks
              - updated

        - name: order
          in: query
          required: false
          schema:
            type: string
            enum:
              - asc
              - desc

        - name: per_page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 30

        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1

      responses:
        "200":
          description: Repository search results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchRepositoriesResponse"

components:
  schemas:

    SearchRepositoriesResponse:
      type: object
      required:
        - total_count
        - incomplete_results
        - items
      properties:
        total_count:
          type: integer
        incomplete_results:
          type: boolean
        items:
          type: array
          items:
            $ref: "#/components/schemas/Repository"

    Repository:
      type: object
      required:
        - id
        - name
        - full_name
        - html_url
        - stargazers_count
        - owner
      properties:
        id:
          type: integer
          format: int64

        name:
          type: string

        full_name:
          type: string

        description:
          type: string
          nullable: true

        html_url:
          type: string
          format: uri

        created_at:
          type: string
          format: date-time

        updated_at:
          type: string
          format: date-time

        language:
          type: string
          nullable: true

        stargazers_count:
          type: integer

        forks_count:
          type: integer

        open_issues_count:
          type: integer

        watchers_count:
          type: integer

        default_branch:
          type: string

        owner:
          $ref: "#/components/schemas/Owner"

    Owner:
      type: object
      required:
        - login
        - avatar_url
        - html_url
      properties:
        login:
          type: string

        avatar_url:
          type: string
          format: uri

        html_url:
          type: string
          format: uri